/** @format */

.h1 {
  font-size: 72px;
  line-height: 80px;
  font-weight: 900;
}

.h2 {
  font-size: 56px;
  line-height: 64px;
  font-weight: 600;
}

.h3 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
}

.h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.h5 {
  font-size: 20px;
  line-height: 32px;
}

.h6 {
  font-size: 18px;
  line-height: 32px;
}

.h7 {
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
}

.h8 {
  font-size: 14px;
  line-height: 18px;
}

.bold-large {
  font-size: 1.6rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.bold-medium {
  font-size: 1.4rem;
  line-height: 1.14rem;
  font-weight: 700;
}

.bold-small {
  font-size: 1.1rem;
  line-height: 1.45rem;
  font-weight: 700;
}

.p {
  font-size: 2rem;
  line-height: 1.6rem;
  font-weight: 400;
}

.regular-large {
  font-size: 1.6rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.regular-medium {
  font-size: 1.4rem;
  line-height: 1.14rem;
  font-weight: 400;
}

.regular-small {
  font-size: 1.1rem;
  line-height: 1.45rem;
  font-weight: 400;
}
