/** @format */

// /** @format */
// //colors
$COLOR_PRIMARY: #8453f7;

$TEXT_COLOR_SC: #e08b00;

$TEXT_COLOR_PM: #333333;

$BTN_COLOR: #93f6a5;

$BTN_TEXT_COLOR: #ffffff;

$SECOMDARY_TEXT_COLOR: rgba(51, 51, 51, 0.5);
// $COLOR_TEXT: #333333;

// $COLOR_BG: #b7c9eb;

// $COLOR_RED: #fb5817;

// $COLOR_BLACK: #999999;

$BG_COLOR: #f3eeff;
// //fonts
$BG_COLOR_ICONS: #ddceff;

// $primary_font: "Roboto", sans-serif;

// $BG_sectoion1: #dfdbe5;

// $BACKG_COLOR: #fcfaff;
