/** @format */
.First-section {
  height: 1600px;
}

.header {
  height: 72px;
}

.comp_head-size {
  padding-top: 16px;
  height: 50px;
  width: 100px;
  color: $BTN_TEXT_COLOR;
}

.contact-header {
  padding-left: 150px;
  padding-top: 16px;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.comp_icon-head {
  padding-top: 16px;
  padding-left: 135px;
}

.nav {
  // width: 437px;
  height: 32px;
  padding-top: 30px;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  color: $BTN_TEXT_COLOR;

  @media screen and (max-width: 768px) {
    display: none;
  }
}
