/** @format */

.h-title-area {
  width: 200px;
  height: 32px;
  padding-top: 186px;
}
.h-title-area-main-props {
  @media screen and (max-width: 768px) {
    .grid {
      grid-template-columns: 1 fr;
      grid-row: 8 / span 1;
    }
  }
}

.h-title {
  color: $TEXT_COLOR_SC;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.h-title-area-main {
  width: 384px;
  height: 160px;
  padding-top: 16px;
}

.h-title-main {
  padding-top: 22px;
}

.h-title-area-info {
  width: 470px;
  height: 68px;
  padding-top: 60px;
  overflow: visible;
}

.h-title-info {
  font-style: normal;
  font-weight: 100;
  padding-bottom: 31px;
}

.h-title-button {
  padding-top: 100px;
  padding-right: 100px;
}

.mktng-pic {
  width: 670px;
  height: 750px;
}

.mktng-pic-header {
  padding-top: 20px;
  @media screen and (max-width: 768px) {
    padding-top: 20px;
    width: 328px;
    height: 300px;
  }
}
.mktng-pic-header-main {
  padding-right: 40px;
  padding-top: 20px;
  // width: 670px;
  // height: 750px;
  @media screen and (max-width: 768px) {
    // padding-top: 20px;
    // width: 428px;
    // height: 400px;
    // padding-right: 400px;
    // grid-row: 40px;
  }
}

.mktng-pic-nav {
  width: 728.74px;
  height: 660.34px;
  padding-right: 37px;
  @media screen and (max-width: 768px) {
    width: 329px;
    height: 336px;
  }
}

.pd-r {
  padding-right: 300px;
  padding-top: 300px;
}

.sctn-7-design-bx {
  width: 470px;
  height: 352px;
}

.ninth-sctn-box {
  width: 370px;
  height: 496px;
  border-radius: 24px;
  border-style: solid black;
}

.cntr {
  align-content: space-between;
  flex-direction: column;
}

.sctn-5-watch {
  padding-right: 200px;
  height: 32px;
  padding-top: 245px;
}

.sctn-5-watch-info {
  width: 529px;
  height: 128px;
  padding-top: 44px;
}

.image-video-sctn-5 {
  padding-top: 66px;
  padding-right: 340px;
}

.watch-vid-pic {
  width: 770px;
  height: 528px;
  border-radius: 10%;
}

.sectn-7 {
  padding-top: 202px;
}
