/** @format */

.sctn-4-props {
  width: 1440px;
  height: 1262px;
}

.sectn-4-bx-props {
  padding-top: 71px;
}

.sectn-4-bx {
  width: 350px;
  height: 304px;
  background-color: #ffffff;
  border-radius: 24px;

  //   overflow: auto;
  //   padding-left: 23px;
}

.sectn-4-bx-img {
  padding-top: 64px;
}

.sectn-4-bx-lg {
  width: 370px;
  height: 640px;
  border-radius: 10px;
  background-color: #8453f7;
}

.sectn-4-bx-lg-img {
  padding-left: 44px;
  padding-top: 63.9px;
  // padding: 44px;
  width: 300px;
  height: 300px;
}

.sctn-4-blue-bx-header {
  width: 230px;
  height: 96px;
  padding-top: 37px;
}

.sctn-4-blue-bx-info {
  width: 270px;
  height: 68px;
  padding-top: 17px;
}

.sctn-4-blue-btn {
  padding-top: 33px;
  width: 170px;
  height: 48px;
}

.pdr {
  padding: 0%;
}

.sectn-4-bx-1 {
  padding-bottom: 10px;
  padding-right: 10px;
}

.sectn-4-bx-2 {
  // gap: 20px;
}

.sectn-4-bx-3 {
}

.sectn-4-bx-4 {
}
