/** @format */

.sctn-8-pic-size {
  padding-right: 100px;
  padding-top: 379px;
  width: 575px;
  height: 588px;
}

.sctn-8-pic {
  width: 575px;
  height: 588px;
}

.sctn-8-props {
  padding-top: 200px;
  padding-right: 40px;
}

.author-sctn-8 {
  padding-top: 140px;
}

.sctn-7-arrow-props {
  width: 104px;
  height: 48px;
  display: flex;
  align-content: space-between;
}

.arrow-props {
  background: linear-gradient(135deg, #93f6a5 0%, #58d2e5 100%);
  border-radius: 24px;
  width: 48px;
  height: 48px;
  text-align: center;
  gap: 15px;
  padding-bottom: 5px;
}

.arrow-props-r {
  padding-left: 20px;
}

.arrow-props-btn {
  background: linear-gradient(135deg, #93f6a5 0%, #58d2e5 100%);
  border-radius: 24px;
  width: 48px;
  height: 48px;
  text-align: center;
  gap: 15px;
}
