/** @format */

.sctn-9 {
  padding-top: 185px;
  text-align: center;
}

.sctn-9-service-title-size {
  padding-bottom: 19px;
}

.sctn-9-service-title-size {
  width: 366px;
  height: 64px;
}

.sctn-9-service-title {
  padding-bottom: 28px;
}

.sctn-9-service-info {
  color: $TEXT_COLOR_PM;
  padding-bottom: 71px;
  width: 470px;
  height: 64px;
  padding-right: 50px;
}

.ninth-sctn-box {
  width: 300px;
  height: 496px;
  background: #ffffff;
  border-radius: 24px;
}

.ninth-sctn-upper-box {
  width: 370px;
  height: 304px;
  background-color: #ddceff;
}

.ninth-sctn-boxprops {
  margin-top: 43px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 40px;
}

.ninth-sctn-box info {
  width: 306px;
  height: 64px;
}

.ninth-section-btn-size {
  padding-left: 570px;
  padding-top: 64px;
}

.sponsors {
  padding-top: 167px;
  margin-left: 80px;
  margin-right: 80px;
}
